*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.card{
    border: 1px solid black;
    width: 300px;
    height: 450px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-img{
    height: 200px;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
}

.circle p{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
}

.btn{
    width: 70px;
    height: 30px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn p{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.card-body{
    padding: 25px;
}

.card-content p{
    margin: 15px 0;
    line-height: 22px;
    color: rgb(56, 56, 56);
}

.card-footer{
    display: flex;
    align-items: center;
    color: rgb(165, 165, 165);
}

.fa-message{
    margin-left: 15px;
}

.card-footer p{
    margin-left: 5px;
    font-size: 15px;
}

.card-footer i{
    font-size: 13px;
}

.card-title h5{
    margin-top: 5px;
    color: red;
}